<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品</title>
    <style>
        img{
          height: 100px;
            width: 150px;
        }

    </style>
</head>
<body>
<h1>测试</h1>
<a href="https://www.bilibili.com/history?spm_id_from=333.1007.0.0" target="_blank">
    <img src="/static/6240338_93729615ec.jpg" alt="">
</a>

<img src="/static/7759525_1363d24e88.jpg" alt="">
<img src="/static/45472593_bfd624f8dc.jpg" alt="">
<img src="/static/67270775_e9fdf77e9d.jpg" alt="">
</body>
</html>